<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static',filename='js/logic.js') }}"></script>
    <title>Document</title>
</head>
<body >
    <div class = "container">
        <div class="header-details" >
            <h1>
                Blood Pressure Predictor
            </h1>
            <h2>Fill out the form to get your blood pressure estimate</h2>
        </div>
        <div class="form-details">
            <form id="bp-form" action = "{{ url_for('my_link') }}"  method="GET" onsubmit="return validateNumericInput()" onreset="clearResult()">
                <div id="age">
                    <span class="required">Age  </span>
                    <input title="Enter numeric value for the age of the user"  type="number" name="age" id="age-value" placeholder="Numeric value in years"> 
                </div>
                <div class= "empty-div"> </div>
                <div id="weight">
                  <span class="required">Weight  </span>
                  <input title="Enter numeric value for the weight of the user" type="number" name='wght' id="wght-value" placeholder="Numeric value in kilograms">
                </div>
                <div class="button">
                    <button id = 'submit-btn' type="submit"> Calculate</button>
                    <button id = 'clr-btn' type="reset"> Clear</button>
                </div>

                <h3 id="result"> {{op}} </h3>
               
            </form>
            
        </div>
    </div>
     
</body>
</html>