/* body {
    background: url('C:\Users\razor\OneDrive\Documents\GitHub\Home_work_2\python\blood-pressure-vector-18465942.jpg');
    /* background-color: aqua; */
/* } */ 


.required:after {
    content:" *";
    color: red;
  }

.container {
    margin: 5%;
    height: 100%;
    border: 2px solid black;
}

.header-details {   
    padding-top: 5%;
    color: firebrick;    
}

.header-details h2{    
    padding-left: 35%;   
}

.header-details h1{    
    padding-left: 42%;   
}

span {
    font-size: 20px;
    font-weight: bold;
    margin-right: 10%;
}

.button {
    margin-top: 5%;
    margin-left: 5%;
}

#submit-btn {
    margin-inline: 5%;
}


.form-details {
    display: block;
    padding-left: 40%;
}

.empty-div {
    height: 40%;
}

#result {
    margin-left: 10%;
}


#age-value, #wght-value {
    left: 50%;
    position: absolute;
}